In [1]:
import numpy as np
import pandas as pd

######  Загружаю данные

In [23]:
# загружаю  данные 

#train =  pd.read_csv('DATA_data_fusion_contest_2022/train.csv')
#train = pd.read_csv("../input/vtbdatafusion2022/train.csv")
print('train.csv - DONE!')


#tra_val = pd.read_csv('DATA_data_fusion_contest_2022/train_matching.csv')
#tra_val = pd.read_csv('../input/vtbdatafusion2022/train_matching.csv')
print('train_matching.csv - DONE!')


#click_data = pd.read_csv('DATA_data_fusion_contest_2022/clickstream.csv') #очень аккуратно надо выполнять!! 
#pd.read_csv('../input/vtbdatafusion2022/clickstream.csv')
#print('clickstream.csv - DONE!')


#trans = pd.read_csv('DATA_data_fusion_contest_2022/transactions.csv')
#trans = pd.read_csv('../input/vtbdatafusion2022/transactions.csv')
print('transactions.csv - DONE!')


#sub_data = pd.read_csv('DATA_data_fusion_contest_2022/sample_submission.csv')
sub_data = pd.read_csv('../input/vtbdatafusion2022/sample_submission.csv')
print('sample_submission.csv - DONE!')


#df_clik_h_edu_no = pd.read_csv('newdatadatafusion/df_clik_h_edu_no2.csv')
#df_clik_h_edu_no = pd.read_csv('../input/df2022-converted/df_clik_h_edu_no2.csv')
#print('df_clik_h_edu_no - DONE!')


#df_clik_h_edu_only = pd.read_csv('newdatadatafusion/df_clik_h_edu_only2.csv')
#df_clik_h_edu_only = pd.read_csv('../input/df2022-converted/df_clik_h_edu_only2.csv')
#print('df_clik_h_edu_only - DONE!')

train.csv - DONE!
train_matching.csv - DONE!
transactions.csv - DONE!
sample_submission.csv - DONE!

######  разделяю на 2 разные таблицы с выщкой и без неё

In [8]:
display(train,tra_val)

                                  bank  higher_education
0     3755b59782464456bac1aec1a44e0db3               0.0
1     604a550439d644718ea6e1693fbf03dc               0.0
2     542d4776ebe5454fb8ab36f1c276fe0e               1.0
3     ee37fecea44d475ca030cde7ff7d545d               0.0
4     18617a1100f44a99b3a0772341fec3db               0.0
...                                ...               ...
8504  9ff4ccff76464408822d7dfc6bdef07c               1.0
8505  352334d727214979b33ab6bd108fd8cc               1.0
8506  a00707e26c6447d689d1a85e9cb26121               1.0
8507  67d608d085d6489197cfc4b6e61a7842               1.0
8508  8e60b6278aa14c05bf12f631d6f91f74               1.0

[8509 rows x 2 columns]

                                   bank                               rtk
0      178b387813ac4a63a2200274a9e3876e  e19c0f141e9442c5bdb0d5751f6fba1c
1      47cffa46e6b04389ba91a70735d2c3ff  7df3371aabd349e4ac2de8299238627d
2      f73b767cfd72472aa06df9a69e746aaf  b23d62c7e41145a7ad140a4fcfaafefa
3      48da649603734185b98dcea93484dbc7  63ad789541c54463ad54d0a707b3ab8b
4      37304ef19de542ee8fe8a6f050236525  c0e96de5dd594d948a8b9fde9e6980cb
...                                 ...                               ...
17576  d870a0dfad91413cae05f001c14dd212                                 0
17577  be367119b35e4dbc8e6cb07221822f57                                 0
17578  518dccd73b844e18b67a71f2dae925cd                                 0
17579  43d30f9a20264a79b3e212c1a452be95                                 0
17580  54310a61cfb64c4aaa0003ecdb727bf8                                 0

[17581 rows x 2 columns]

In [9]:
train_h_edu_only = train[train.higher_education==1]
#train_h_edu_only.head

train_h_edu_no = train[train.higher_education==0]
#train_h_edu_no.head

###### вышенайденным людям нахожу их rkt -> после надо взять самый большой файл и скрестить их. а так же переименую чтобы потом скрестить таблицы

In [10]:
df_h_edu_only = train_h_edu_only.merge(tra_val)
df_h_edu_no = train_h_edu_no.merge(tra_val)


#df_h_edu_no.rename(columns = {'rtk' : 'user_id'}, inplace = True)
#df_h_edu_only.rename(columns = {'rtk' : 'user_id'}, inplace = True)

In [173]:

df_H_edu_all

,bank,higher_education,rtk
0,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9
1,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb
2,ee37fecea44d475ca030cde7ff7d545d,0.0,839669a7588b42ee9e01a9f200e5f638
3,079f07153c0149d19f54646618452929,0.0,f9d8f9f57453493186964049c43da914
4,6dee55b3d7284d18bed3094ee3103812,1.0,6d6b702132d94a8692cba48f4e28e7b2
...,...,...,...
6349,8564a4f0b06d44db882a8b0c2e956344,1.0,0b76cdb34090489282c7d53489c17b98
6350,9ff4ccff76464408822d7dfc6bdef07c,1.0,a595c7d182a94b57a12e4e65a9a6f5f7
6351,352334d727214979b33ab6bd108fd8cc,1.0,541f2b8bc392429f924fdd6259875b78
6352,a00707e26c6447d689d1a85e9cb26121,1.0,81d7af0f94ab452abc6efc38aa20d994
6353,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13

In [59]:
train_h_edu_no

                                  bank  higher_education
0     3755b59782464456bac1aec1a44e0db3               0.0
1     604a550439d644718ea6e1693fbf03dc               0.0
3     ee37fecea44d475ca030cde7ff7d545d               0.0
4     18617a1100f44a99b3a0772341fec3db               0.0
5     079f07153c0149d19f54646618452929               0.0
...                                ...               ...
8493  ed043a497f0c4e47b94a6b62013c2cd9               0.0
8494  ce5f7903f56b42a0983cbca178750eaa               0.0
8498  49ab8a0f91e040d099b5c5222758c8d9               0.0
8501  15f586cdd49f452a8009d574c13a1db0               0.0
8502  07d476c606f64c529b06711967957613               0.0

[2346 rows x 2 columns]

In [11]:
display(df_h_edu_only,
df_h_edu_no)

,bank,higher_education,rtk
0,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb
1,6dee55b3d7284d18bed3094ee3103812,1.0,6d6b702132d94a8692cba48f4e28e7b2
2,f94284392a064a93bc29742589a3b560,1.0,3b1ed0b692774bcbb189cc9dd8c0b689
3,8653cbc7d48148a6a227853bdf05950a,1.0,f7f2f0d660dc4f7b9af818331b12f5f7
4,b38863ecab6340c2a665cfa6c3003ddc,1.0,5b79d6c83f124c6699b59ecfafd35aee
...,...,...,...
4595,8564a4f0b06d44db882a8b0c2e956344,1.0,0b76cdb34090489282c7d53489c17b98
4596,9ff4ccff76464408822d7dfc6bdef07c,1.0,a595c7d182a94b57a12e4e65a9a6f5f7
4597,352334d727214979b33ab6bd108fd8cc,1.0,541f2b8bc392429f924fdd6259875b78
4598,a00707e26c6447d689d1a85e9cb26121,1.0,81d7af0f94ab452abc6efc38aa20d994
4599,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13

,bank,higher_education,rtk
0,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9
1,ee37fecea44d475ca030cde7ff7d545d,0.0,839669a7588b42ee9e01a9f200e5f638
2,079f07153c0149d19f54646618452929,0.0,f9d8f9f57453493186964049c43da914
3,5f3b2dbc151f4067bf9d898a375e0593,0.0,f9862b1b6f184f2e9f38de219f598133
4,044535bd1bdc4528b1d32a229f7c9dea,0.0,5801e34201b54f8db49e1fc78a0ba344
...,...,...,...
1749,4c2e446785cb4b21a0783d780f875283,0.0,2de95506d51a4a29a92b2630dc109a83
1750,e2b4b0f0d2044491acf00a35c929353f,0.0,5ca38381f919421fb4b514b37be1e0a0
1751,49ab8a0f91e040d099b5c5222758c8d9,0.0,d0e9934e9c814215892f69c996ce881c
1752,15f586cdd49f452a8009d574c13a1db0,0.0,55011c4031374c1489a8eca4ef69b106
1753,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5

In [16]:
trans.rename(columns = {'user_id': 'bank'}, inplace = True)
trans

,bank,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,000932580e404dafbecd5916d4640938,5411,48,-361.072300,2020-08-03 08:05:23
1,000932580e404dafbecd5916d4640938,5499,48,-137.313980,2020-08-05 01:27:40
2,000932580e404dafbecd5916d4640938,5499,48,-138.849810,2020-08-05 03:28:11
3,000932580e404dafbecd5916d4640938,4829,48,-309.476530,2020-08-06 00:36:29
4,000932580e404dafbecd5916d4640938,5411,48,-133.473700,2020-08-09 00:30:13
...,...,...,...,...,...
19821905,fffb051877b949f49bed6538393a06ae,5411,48,-40.727768,2021-07-31 05:33:03
19821906,fffb051877b949f49bed6538393a06ae,5411,48,-277.494350,2021-07-31 08:57:02
19821907,fffb051877b949f49bed6538393a06ae,5411,48,-138.097350,2021-07-31 08:59:33
19821908,fffb051877b949f49bed6538393a06ae,6011,48,-86.046776,2021-08-01 23:04:41
19821909,fffb051877b949f49bed6538393a06ae,6012,48,-4864.049300,2021-08-02 09:20:43

In [21]:
#df_tran_edu_no = df_h_edu_no.merge(trans)
df_tran_edu_no.shape[0]

1448094

In [20]:
#df_tran_edu_only = df_h_edu_only.merge(trans)
df_tran_edu_only.shape[0]

4268098

In [174]:
df_tran_H_edu_all = df_H_edu_all.merge(trans)

,bank,higher_education,rtk,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5921,48,-32.840740,2020-08-03 09:37:40
1,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-221.986970,2020-08-03 09:59:39
2,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-21.282393,2020-08-03 10:58:54
3,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5462,48,-100.272316,2020-08-04 09:30:49
4,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-447.390620,2020-08-04 09:40:23
...,...,...,...,...,...,...,...
5716187,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5812,48,-143.118990,2021-07-31 02:53:49
5716188,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5411,48,-54.063260,2021-07-31 04:38:08
5716189,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5499,48,-483.230830,2021-07-31 05:10:24
5716190,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5499,48,-66.500520,2021-07-31 05:31:44
5716191,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5812,48,-952.416440,2021-07-31 05:47:07

In [65]:
df_tran_edu_only

,bank,higher_education,rtk,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,5211,48,-477.758640,2020-08-01 03:20:12
1,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,7538,48,-93.363290,2020-08-02 08:27:36
2,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,7538,48,-140.358230,2020-08-02 09:56:01
3,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,-1,48,5.191794,2020-08-02 21:31:00
4,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,5499,48,-184.879910,2020-08-02 21:34:00
...,...,...,...,...,...,...,...
4268093,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5812,48,-143.118990,2021-07-31 02:53:49
4268094,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5411,48,-54.063260,2021-07-31 04:38:08
4268095,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5499,48,-483.230830,2021-07-31 05:10:24
4268096,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5499,48,-66.500520,2021-07-31 05:31:44
4268097,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5812,48,-952.416440,2021-07-31 05:47:07

######  опять скрещиваю таблицы

In [ ]:
#таблички идут на свидание
df_clik_h_edu_no = click_data.merge(df_h_edu_no)

df_clik_h_edu_only = click_data.merge(df_h_edu_only)

###### а так же сохраню в в отдельный файл

In [ ]:
#df_clik_h_edu_no.to_csv('df_clik_h_edu_no.csv', sep='\t', encoding='utf-8')
#df_clik_h_edu_only.to_csv('df_clik_h_edu_only.csv', sep='\t', encoding='utf-8')
#к имени надо добавлять .csv

In [ ]:
#посмотрю размер
print(df_clik_h_edu_no.shape , df_clik_h_edu_only.shape)

In [ ]:
#переименовать графу времени!
#trans.rename (columns = {'transaction_dttm': 'timestamp'}, inplace = True)
#display(trans)

In [ ]:
df_all_h_edu_no = trans.merge(df_clik_h_edu_no)
#df_all_h_edu_no # тут пока что лажа. чуть позже еще подумаю
# все фигня. по дате нет совпадений.

#  работа с данными которые надо предсказать

In [28]:
sub_data.rename(columns={'user_id':'bank'}, inplace = True)
sub_data

                                  bank  higher_education_proba
0     85ef628894e34ad6869778a9a5d15ba5                     0.5
1     5ec7a78c6efd4d6291e371a6f30ed5c0                     0.5
2     d0f5d1884ad74e3e9aae7e49f2e1b77b                     0.5
3     c3c0f24dda94413ab98036f6d9018d3d                     0.5
4     6a137054df2a42218a518479317e5b1e                     0.5
...                                ...                     ...
3995  6b4e9d5efdc346969b5bd2cd1423e1df                     0.5
3996  aa94374db32c492a9a0bd70566ff6127                     0.5
3997  4a73e124aa894bf8a014c7ea02ad61bf                     0.5
3998  1739a132cead43ffa3872de4f7450ad6                     0.5
3999  9a12ee6ce5784824aa6f8dcbdc3143f0                     0.5

[4000 rows x 2 columns]

In [ ]:
# таким образом я узнал, что можно обращаться по индексам
#sub_data.bank[0]

In [ ]:
#my_df["range"].isin([45]).any()
#trans.user_id.isin([sub_data.bank[0]]).any()

In [ ]:
# появиль новые интересные факты...
#щя будем смотреть

In [47]:
df_sub_data = sub_data.merge(trans)
df_sub_data

,bank,higher_education_proba,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,85ef628894e34ad6869778a9a5d15ba5,0.5,6399,48,-375.665400,2020-08-03 09:04:43
1,85ef628894e34ad6869778a9a5d15ba5,0.5,-1,48,-34.727962,2020-08-14 06:18:23
2,85ef628894e34ad6869778a9a5d15ba5,0.5,5921,48,-99.567380,2020-08-16 08:25:41
3,85ef628894e34ad6869778a9a5d15ba5,0.5,6538,48,-4596.552700,2020-08-18 09:02:07
4,85ef628894e34ad6869778a9a5d15ba5,0.5,-1,48,9207.459000,2020-08-18 11:50:34
...,...,...,...,...,...,...
3626422,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5814,48,-840.511200,2021-07-30 10:42:34
3626423,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-104.373930,2021-07-30 13:52:17
3626424,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-201.048200,2021-07-31 13:07:58
3626425,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5921,48,-212.824500,2021-07-31 15:11:10
3626426,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-109.465256,2021-07-31 16:43:42

In [48]:
# убрал mcc = -1 т.к. такого кода нет
df_sub_data = df_sub_data.loc[df_sub_data['mcc_code'] != -1]
df_sub_data

,bank,higher_education_proba,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,85ef628894e34ad6869778a9a5d15ba5,0.5,6399,48,-375.665400,2020-08-03 09:04:43
2,85ef628894e34ad6869778a9a5d15ba5,0.5,5921,48,-99.567380,2020-08-16 08:25:41
3,85ef628894e34ad6869778a9a5d15ba5,0.5,6538,48,-4596.552700,2020-08-18 09:02:07
5,85ef628894e34ad6869778a9a5d15ba5,0.5,5411,48,-107.011185,2020-08-18 22:37:36
6,85ef628894e34ad6869778a9a5d15ba5,0.5,5921,48,-1258.673600,2020-08-19 10:52:53
...,...,...,...,...,...,...
3626422,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5814,48,-840.511200,2021-07-30 10:42:34
3626423,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-104.373930,2021-07-30 13:52:17
3626424,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-201.048200,2021-07-31 13:07:58
3626425,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5921,48,-212.824500,2021-07-31 15:11:10
3626426,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-109.465256,2021-07-31 16:43:42

In [49]:
df_sub_data = df_sub_data.reset_index()
js = np.array(df_sub_data.index)
js = js[1:]
js = max(js)
js

3517297

In [53]:
df_sub_data.rename(columns={'bank':'user_id'}, inplace = True)
#df_sub_data.pop('index')
df_sub_data

,user_id,higher_education_proba,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,85ef628894e34ad6869778a9a5d15ba5,0.5,6399,48,-375.665400,2020-08-03 09:04:43
1,85ef628894e34ad6869778a9a5d15ba5,0.5,5921,48,-99.567380,2020-08-16 08:25:41
2,85ef628894e34ad6869778a9a5d15ba5,0.5,6538,48,-4596.552700,2020-08-18 09:02:07
3,85ef628894e34ad6869778a9a5d15ba5,0.5,5411,48,-107.011185,2020-08-18 22:37:36
4,85ef628894e34ad6869778a9a5d15ba5,0.5,5921,48,-1258.673600,2020-08-19 10:52:53
...,...,...,...,...,...,...
3517293,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5814,48,-840.511200,2021-07-30 10:42:34
3517294,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-104.373930,2021-07-30 13:52:17
3517295,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-201.048200,2021-07-31 13:07:58
3517296,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5921,48,-212.824500,2021-07-31 15:11:10
3517297,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,5411,48,-109.465256,2021-07-31 16:43:42

### без учета валюты

In [55]:
mon = np.zeros( len(pd.unique(df_sub_data['user_id'])) )
col_VO = np.zeros( len(pd.unique(df_sub_data['user_id'])) )
i = 0
j = 0
#cou = 0
#df_sub_data.reset_index()
#js = np.array(df_sub_data.index)
#js = js[1:]

mon[i] += float(df_sub_data.transaction_amt[j]) 
# Н учесть первый эл-т тк далее я добав сразу j+1

for j in  range (js-1):
    #print(j)
    if j/(js//100) == int(j/(js//100)):
        print(j/(js//100),'%')
        
    
    h1 = str( df_sub_data.user_id[j] )
    #print(h1)
    h2 = str( df_sub_data.user_id[j + 1] )
    #print(h2)
    
    if h1 == h2: #проверяю нынешний и след
        #cou += 1
        
        m2 = float(df_sub_data.transaction_amt[j+1])
        
        col_VO[i] += 1
        mon[i] += m2
    else:
        
        # типо до этого я плюсовал только j+1 так что каджый раз проспускал первый эл-т
        mon [i+1] += float(df_sub_data.transaction_amt[j+1]) 
        
        i += 1
print('mon\n',mon)
print('col-VO\n',col_VO)
cr_tran = mon[:]/col_VO[:]
print('cr_tran')
print(cr_tran)

0.0 %
1.0 %
2.0 %
3.0 %
4.0 %
5.0 %
6.0 %
7.0 %
8.0 %
9.0 %
10.0 %
11.0 %
12.0 %
13.0 %
14.0 %
15.0 %
16.0 %
17.0 %
18.0 %
19.0 %
20.0 %
21.0 %
22.0 %
23.0 %
24.0 %
25.0 %
26.0 %
27.0 %
28.0 %
29.0 %
30.0 %
31.0 %
32.0 %
33.0 %
34.0 %
35.0 %
36.0 %
37.0 %
38.0 %
39.0 %
40.0 %
41.0 %
42.0 %
43.0 %
44.0 %
45.0 %
46.0 %
47.0 %
48.0 %
49.0 %
50.0 %
51.0 %
52.0 %
53.0 %
54.0 %
55.0 %
56.0 %
57.0 %
58.0 %
59.0 %
60.0 %
61.0 %
62.0 %
63.0 %
64.0 %
65.0 %
66.0 %
67.0 %
68.0 %
69.0 %
70.0 %
71.0 %
72.0 %
73.0 %
74.0 %
75.0 %
76.0 %
77.0 %
78.0 %
79.0 %
80.0 %
81.0 %
82.0 %
83.0 %
84.0 %
85.0 %
86.0 %
87.0 %
88.0 %
89.0 %
90.0 %
91.0 %
92.0 %
93.0 %
94.0 %
95.0 %
96.0 %
97.0 %
98.0 %
99.0 %
100.0 %
mon
 [-1595456.3990027  -1426062.2582176  -2740743.9470642  ...
     4828.7884433   -632746.27289042   -54960.004874  ]
col-VO
 [ 850. 1099.  889. ... 1229.  771.  592.]
cr_tran
[-1877.00752824 -1297.59987099 -3082.9515715  ...     3.9290386
  -820.68258481   -92.83784607]

In [56]:
sub_data

                                  bank  higher_education_proba
0     85ef628894e34ad6869778a9a5d15ba5                     0.5
1     5ec7a78c6efd4d6291e371a6f30ed5c0                     0.5
2     d0f5d1884ad74e3e9aae7e49f2e1b77b                     0.5
3     c3c0f24dda94413ab98036f6d9018d3d                     0.5
4     6a137054df2a42218a518479317e5b1e                     0.5
...                                ...                     ...
3995  6b4e9d5efdc346969b5bd2cd1423e1df                     0.5
3996  aa94374db32c492a9a0bd70566ff6127                     0.5
3997  4a73e124aa894bf8a014c7ea02ad61bf                     0.5
3998  1739a132cead43ffa3872de4f7450ad6                     0.5
3999  9a12ee6ce5784824aa6f8dcbdc3143f0                     0.5

[4000 rows x 2 columns]

In [57]:
#добавлю новые столб and save file
sub_data['all_mon'] = mon
sub_data['col_VO_tran'] = col_VO
sub_data['cr_tran'] = cr_tran
sub_data

#sub_data.to_csv('./sub_data_new.csv', index = False)#, sep='\t', encoding='utf-8')

,bank,higher_education_proba,all_mon,col_VO_tran,cr_tran
0,85ef628894e34ad6869778a9a5d15ba5,0.5,-1.595456e+06,850.0,-1877.007528
1,5ec7a78c6efd4d6291e371a6f30ed5c0,0.5,-1.426062e+06,1099.0,-1297.599871
2,d0f5d1884ad74e3e9aae7e49f2e1b77b,0.5,-2.740744e+06,889.0,-3082.951572
3,c3c0f24dda94413ab98036f6d9018d3d,0.5,5.891258e+05,1527.0,385.806017
4,6a137054df2a42218a518479317e5b1e,0.5,-7.416239e+05,696.0,-1065.551601
...,...,...,...,...,...
3995,6b4e9d5efdc346969b5bd2cd1423e1df,0.5,-1.436209e+06,804.0,-1786.329486
3996,aa94374db32c492a9a0bd70566ff6127,0.5,-3.298526e+05,504.0,-654.469353
3997,4a73e124aa894bf8a014c7ea02ad61bf,0.5,4.828788e+03,1229.0,3.929039
3998,1739a132cead43ffa3872de4f7450ad6,0.5,-6.327463e+05,771.0,-820.682585
3999,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,-5.496000e+04,592.0,-92.837846

#####  таким образом в sub_data у нас общая сумма трат, кол-во трат и ср. сумма трат

In [ ]:
n = len(pd.unique(df_sub_data['currency_rk'])) 
print(n)
df_sub_data

In [58]:
df_tran_edu_no

,bank,higher_education,rtk,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5921,48,-32.840740,2020-08-03 09:37:40
1,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-221.986970,2020-08-03 09:59:39
2,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-21.282393,2020-08-03 10:58:54
3,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5462,48,-100.272316,2020-08-04 09:30:49
4,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-447.390620,2020-08-04 09:40:23
...,...,...,...,...,...,...,...
1448089,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5411,48,-42.950436,2021-07-27 20:13:00
1448090,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5921,48,-293.242030,2021-07-27 21:36:00
1448091,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5921,48,-47.381565,2021-07-27 22:14:00
1448092,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5541,48,-774.898000,2021-07-29 00:59:13
1448093,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5411,48,-157.491290,2021-08-06 22:48:03

In [ ]:
print(mon)

In [ ]:
he = float(df_sub_data.transaction_amt[j])
type(he)

In [ ]:
 if df_sub_data.user_id[0] == sub_data.user_id[0]:
        print(float(df_sub_data.transaction_amt[0]))

In [ ]:
sub_data

In [ ]:
df_sub_data = df_sub_data.reset_index()
df_sub_data

In [ ]:
 #del #sub_data
display(df_clik_h_edu_no)
df_clik_h_edu_no.user_id
#trans.rename(columns={})

In [ ]:
trans.shape[0]

In [ ]:

size = trans.shape[0]
mon2 = np.zeros( len(pd.unique(trans['user_id']))  ) 
col_VO2 = np.zeros( len(pd.unique(trans['user_id'])) )
i = 0
j = 0

for j in  range(size-1):
    
    if j/(size//100) == int(j/(size//100)):
        print(j/(size//100),'%')
        
    u1 = str(trans.user_id[i])
    u2 = str(trans.user_id[i+1])
    
    if u1 == u2:
        m2 = float( trans.transaction_amt[j+1] )
        col_VO2[i] += 1
        mon2 +=m2
    else:
        mon2[i+1] += float( trans.transaction_amt[j+1])
        i += 1
        
        
print('mon\n',mon2)
print('col-VO\n',col_VO2)
cr_tran = mon2[:]/col_VO2[:]
print('cr_tran')
print(cr_tran)

In [ ]:
#df_clik_h_edu_no.pop('Unnamed: 0')
#df_clik_h_edu_no.rename(columns={})

In [6]:
trans.rename(columns={'user_id': 'bank'}, inplace = True)
trans
#df_tenm

,bank,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,000932580e404dafbecd5916d4640938,5411,48,-361.072300,2020-08-03 08:05:23
1,000932580e404dafbecd5916d4640938,5499,48,-137.313980,2020-08-05 01:27:40
2,000932580e404dafbecd5916d4640938,5499,48,-138.849810,2020-08-05 03:28:11
3,000932580e404dafbecd5916d4640938,4829,48,-309.476530,2020-08-06 00:36:29
4,000932580e404dafbecd5916d4640938,5411,48,-133.473700,2020-08-09 00:30:13
...,...,...,...,...,...
19821905,fffb051877b949f49bed6538393a06ae,5411,48,-40.727768,2021-07-31 05:33:03
19821906,fffb051877b949f49bed6538393a06ae,5411,48,-277.494350,2021-07-31 08:57:02
19821907,fffb051877b949f49bed6538393a06ae,5411,48,-138.097350,2021-07-31 08:59:33
19821908,fffb051877b949f49bed6538393a06ae,6011,48,-86.046776,2021-08-01 23:04:41
19821909,fffb051877b949f49bed6538393a06ae,6012,48,-4864.049300,2021-08-02 09:20:43

In [ ]:
df_temp = trans.merge(df_clik_h_edu_no)
df_temp

In [5]:
df_clik_h_edu_no

,Unnamed: 0,user_id,cat_id,timestamp,new_uid,bank,higher_education
0,0,003a54bc170f4e109036fe534f78c7af,535,2021-01-27 10:07:46,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0
1,1,003a54bc170f4e109036fe534f78c7af,25,2021-02-03 07:22:16,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0
2,2,003a54bc170f4e109036fe534f78c7af,165,2021-02-04 02:02:34,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0
3,3,003a54bc170f4e109036fe534f78c7af,931,2021-02-06 01:31:54,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0
4,4,003a54bc170f4e109036fe534f78c7af,503,2021-02-06 14:07:00,931116,6a6ac0a2e96f4ef98829c0d720b62f09,0
...,...,...,...,...,...,...,...
1048570,1048570,1f627a283e9d4f97a28c1bec5c224906,165,2021-07-03 16:34:00,1774470,118bb16b0371465eba8c2d3784a62ca6,0
1048571,1048571,1f627a283e9d4f97a28c1bec5c224906,165,2021-07-03 17:24:00,1774470,118bb16b0371465eba8c2d3784a62ca6,0
1048572,1048572,1f627a283e9d4f97a28c1bec5c224906,165,2021-07-03 21:15:00,1774470,118bb16b0371465eba8c2d3784a62ca6,0
1048573,1048573,1f627a283e9d4f97a28c1bec5c224906,165,2021-07-03 22:32:00,1774470,118bb16b0371465eba8c2d3784a62ca6,0
1048574,1048574,1f627a283e9d4f97a28c1bec5c224906,535,2021-07-03 22:38:00,1774470,118bb16b0371465eba8c2d3784a62ca6,0

In [62]:
df_h_edu_only_pre = train_h_edu_only.merge(tra_val)
df_h_edu_no_pre = train_h_edu_no.merge(tra_val)

In [64]:
df_h_edu_only

,bank,higher_education,rtk
0,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb
1,6dee55b3d7284d18bed3094ee3103812,1.0,6d6b702132d94a8692cba48f4e28e7b2
2,f94284392a064a93bc29742589a3b560,1.0,3b1ed0b692774bcbb189cc9dd8c0b689
3,8653cbc7d48148a6a227853bdf05950a,1.0,f7f2f0d660dc4f7b9af818331b12f5f7
4,b38863ecab6340c2a665cfa6c3003ddc,1.0,5b79d6c83f124c6699b59ecfafd35aee
...,...,...,...
4595,8564a4f0b06d44db882a8b0c2e956344,1.0,0b76cdb34090489282c7d53489c17b98
4596,9ff4ccff76464408822d7dfc6bdef07c,1.0,a595c7d182a94b57a12e4e65a9a6f5f7
4597,352334d727214979b33ab6bd108fd8cc,1.0,541f2b8bc392429f924fdd6259875b78
4598,a00707e26c6447d689d1a85e9cb26121,1.0,81d7af0f94ab452abc6efc38aa20d994
4599,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13

In [66]:
df_tran_edu_only

,bank,higher_education,rtk,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,5211,48,-477.758640,2020-08-01 03:20:12
1,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,7538,48,-93.363290,2020-08-02 08:27:36
2,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,7538,48,-140.358230,2020-08-02 09:56:01
3,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,-1,48,5.191794,2020-08-02 21:31:00
4,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,5499,48,-184.879910,2020-08-02 21:34:00
...,...,...,...,...,...,...,...
4268093,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5812,48,-143.118990,2021-07-31 02:53:49
4268094,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5411,48,-54.063260,2021-07-31 04:38:08
4268095,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5499,48,-483.230830,2021-07-31 05:10:24
4268096,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5499,48,-66.500520,2021-07-31 05:31:44
4268097,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5812,48,-952.416440,2021-07-31 05:47:07

In [67]:
# убрать mcc = -1 from df_tran_edu_only
df_tran_edu_only = df_tran_edu_only.loc[df_tran_edu_only['mcc_code'] != -1]
df_tran_edu_only

,bank,higher_education,rtk,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,5211,48,-477.75864,2020-08-01 03:20:12
1,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,7538,48,-93.36329,2020-08-02 08:27:36
2,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,7538,48,-140.35823,2020-08-02 09:56:01
4,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,5499,48,-184.87991,2020-08-02 21:34:00
5,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,6399,48,-98.89328,2020-08-03 05:30:35
...,...,...,...,...,...,...,...
4268093,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5812,48,-143.11899,2021-07-31 02:53:49
4268094,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5411,48,-54.06326,2021-07-31 04:38:08
4268095,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5499,48,-483.23083,2021-07-31 05:10:24
4268096,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5499,48,-66.50052,2021-07-31 05:31:44
4268097,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5812,48,-952.41644,2021-07-31 05:47:07

In [69]:
#сбрасываем индексы df_tran_edu_only
df_tran_edu_only = df_tran_edu_only.reset_index()
js = np.array(df_tran_edu_only.index)
js = js[1:]
js = max(js)
js

4139463

In [72]:
# считаю сумму трат у тех у кого есть вышка
mon_h_edu = np.zeros(len(pd.unique(df_h_edu_only['bank'])) )#df_h_edu_only
col_VO_h_edu_only = np.zeros(len(pd.unique(df_h_edu_only['bank'])) )
i = 0
j = 0

mon_h_edu[i] += float(df_tran_edu_only.transaction_amt[j])
for j in  range (js-1):
    #print(j)
    if j/(js//100) == int(j/(js//100)):
        print(j/(js//100),'%')
        
    h1 = str(df_tran_edu_only.bank[j] )
    h2 = str(df_tran_edu_only.bank[j+1])
    
    if h1 == h2:
        
        m2 = float(df_tran_edu_only.transaction_amt[j+1])
        col_VO_h_edu_only [i] += 1
        mon_h_edu[i] += m2
        
    else:
        mon_h_edu[i+1] += float(df_tran_edu_only.transaction_amt[j+1])
        i += 1

print('mon\n',mon_h_edu)
print('col-VO\n',col_VO_h_edu_only)
cr_tran_h_edu = mon_h_edu[:]/col_VO_h_edu_only[:]
print('cr_tran')
print(cr_tran_h_edu)

0.0 %
1.0 %
2.0 %
3.0 %
4.0 %
5.0 %
6.0 %
7.0 %
8.0 %
9.0 %
10.0 %
11.0 %
12.0 %
13.0 %
14.0 %
15.0 %
16.0 %
17.0 %
18.0 %
19.0 %
20.0 %
21.0 %
22.0 %
23.0 %
24.0 %
25.0 %
26.0 %
27.0 %
28.0 %
29.0 %
30.0 %
31.0 %
32.0 %
33.0 %
34.0 %
35.0 %
36.0 %
37.0 %
38.0 %
39.0 %
40.0 %
41.0 %
42.0 %
43.0 %
44.0 %
45.0 %
46.0 %
47.0 %
48.0 %
49.0 %
50.0 %
51.0 %
52.0 %
53.0 %
54.0 %
55.0 %
56.0 %
57.0 %
58.0 %
59.0 %
60.0 %
61.0 %
62.0 %
63.0 %
64.0 %
65.0 %
66.0 %
67.0 %
68.0 %
69.0 %
70.0 %
71.0 %
72.0 %
73.0 %
74.0 %
75.0 %
76.0 %
77.0 %
78.0 %
79.0 %
80.0 %
81.0 %
82.0 %
83.0 %
84.0 %
85.0 %
86.0 %
87.0 %
88.0 %
89.0 %
90.0 %
91.0 %
92.0 %
93.0 %
94.0 %
95.0 %
96.0 %
97.0 %
98.0 %
99.0 %
100.0 %
mon
 [ -495297.4737418   -789710.3724985  -1241177.93313008 ...
  -636687.1316734   -463542.19005    -2447596.0043998 ]
col-VO
 [ 963. 1400. 1142. ... 1340.  515. 1008.]
cr_tran
[ -514.32759475  -564.0788375  -1086.84582586 ...  -475.1396505
  -900.08192243 -2428.17063929]

In [75]:
df_h_edu_only['all_mon'] = mon_h_edu
df_h_edu_only['col_VO_tran'] = col_VO_h_edu_only
df_h_edu_only['cr_tran'] = cr_tran_h_edu
df_h_edu_only

,bank,higher_education,rtk,all_mon,col_VO_tran,cr_tran
0,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,-4.952975e+05,963.0,-514.327595
1,6dee55b3d7284d18bed3094ee3103812,1.0,6d6b702132d94a8692cba48f4e28e7b2,-7.897104e+05,1400.0,-564.078837
2,f94284392a064a93bc29742589a3b560,1.0,3b1ed0b692774bcbb189cc9dd8c0b689,-1.241178e+06,1142.0,-1086.845826
3,8653cbc7d48148a6a227853bdf05950a,1.0,f7f2f0d660dc4f7b9af818331b12f5f7,-3.480696e+05,569.0,-611.721693
4,b38863ecab6340c2a665cfa6c3003ddc,1.0,5b79d6c83f124c6699b59ecfafd35aee,-1.182468e+06,981.0,-1205.369590
...,...,...,...,...,...,...
4595,8564a4f0b06d44db882a8b0c2e956344,1.0,0b76cdb34090489282c7d53489c17b98,-1.780711e+05,567.0,-314.058427
4596,9ff4ccff76464408822d7dfc6bdef07c,1.0,a595c7d182a94b57a12e4e65a9a6f5f7,-1.136471e+06,1125.0,-1010.196815
4597,352334d727214979b33ab6bd108fd8cc,1.0,541f2b8bc392429f924fdd6259875b78,-6.366871e+05,1340.0,-475.139651
4598,a00707e26c6447d689d1a85e9cb26121,1.0,81d7af0f94ab452abc6efc38aa20d994,-4.635422e+05,515.0,-900.081922
4599,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,-2.447596e+06,1008.0,-2428.170639

In [73]:
df_tran_edu_no = df_tran_edu_no.loc[df_tran_edu_no['mcc_code'] != -1]

df_tran_edu_no = df_tran_edu_no.reset_index()
jss = np.array(df_tran_edu_no.index)
jss = jss[1:]
jss = max(jss)
print(jss)
df_tran_edu_no

1405711

,index,bank,higher_education,rtk,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,0,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5921,48,-32.840740,2020-08-03 09:37:40
1,1,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-221.986970,2020-08-03 09:59:39
2,2,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-21.282393,2020-08-03 10:58:54
3,3,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5462,48,-100.272316,2020-08-04 09:30:49
4,4,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-447.390620,2020-08-04 09:40:23
...,...,...,...,...,...,...,...,...
1405707,1448089,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5411,48,-42.950436,2021-07-27 20:13:00
1405708,1448090,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5921,48,-293.242030,2021-07-27 21:36:00
1405709,1448091,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5921,48,-47.381565,2021-07-27 22:14:00
1405710,1448092,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5541,48,-774.898000,2021-07-29 00:59:13
1405711,1448093,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5411,48,-157.491290,2021-08-06 22:48:03

In [78]:
jss

1405711

In [ ]:
mon_h_edu_no = np.zeros(len(pd.unique(df_h_edu_no['bank'])) )#df_h_edu_only
col_VO_h_edu_no = np.zeros(len(pd.unique(df_h_edu_no['bank'])) )
i = 0
j = 0

mon_h_edu_no[i] += float(df_tran_edu_no.transaction_amt[j])
for j in  range (jss-1):
    #print(j)
    if j/(jss//100) == int(j/(jss//100)):
        print(j/(jss//100),'%')
        
    h1 = str(df_tran_edu_no.bank[j] )
    h2 = str(df_tran_edu_no.bank[j+1])
    
    if h1 == h2:
        
        m2 = float(df_tran_edu_no.transaction_amt[j+1])
        col_VO_h_edu_no [i] += 1
        mon_h_edu_no[i] += m2
        
    else:
        mon_h_edu_no[i+1] += float(df_tran_edu_no.transaction_amt[j+1])
        i += 1

print('mon\n',mon_h_edu_no)
print('col-VO\n',col_VO_h_edu_no)
cr_tran_h_edu_no = mon_h_edu_no[:]/col_VO_h_edu_no[:]
print('cr_tran')
print(cr_tran_h_edu_no)

In [77]:
df_tran_edu_no

,index,bank,higher_education,rtk,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,0,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5921,48,-32.840740,2020-08-03 09:37:40
1,1,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-221.986970,2020-08-03 09:59:39
2,2,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-21.282393,2020-08-03 10:58:54
3,3,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5462,48,-100.272316,2020-08-04 09:30:49
4,4,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-447.390620,2020-08-04 09:40:23
...,...,...,...,...,...,...,...,...
1405707,1448089,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5411,48,-42.950436,2021-07-27 20:13:00
1405708,1448090,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5921,48,-293.242030,2021-07-27 21:36:00
1405709,1448091,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5921,48,-47.381565,2021-07-27 22:14:00
1405710,1448092,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5541,48,-774.898000,2021-07-29 00:59:13
1405711,1448093,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,5411,48,-157.491290,2021-08-06 22:48:03

In [87]:
#add new col
df_h_edu_no['all_mon'] = mon_h_edu_no
df_h_edu_no['col_VO_tran'] = col_VO_h_edu_no
df_h_edu_no['cr_tran'] = cr_tran_h_edu_no
df_h_edu_no

,bank,higher_education,rtk,all_mon,col_VO_tran,cr_tran
0,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,-2.946240e+05,721.0,-408.632449
1,ee37fecea44d475ca030cde7ff7d545d,0.0,839669a7588b42ee9e01a9f200e5f638,-4.358765e+05,1016.0,-429.012295
2,079f07153c0149d19f54646618452929,0.0,f9d8f9f57453493186964049c43da914,-7.906150e+05,684.0,-1155.869867
3,5f3b2dbc151f4067bf9d898a375e0593,0.0,f9862b1b6f184f2e9f38de219f598133,-3.971187e+05,816.0,-486.665044
4,044535bd1bdc4528b1d32a229f7c9dea,0.0,5801e34201b54f8db49e1fc78a0ba344,-3.359115e+05,564.0,-595.587839
...,...,...,...,...,...,...
1749,4c2e446785cb4b21a0783d780f875283,0.0,2de95506d51a4a29a92b2630dc109a83,-7.958080e+05,1006.0,-791.061600
1750,e2b4b0f0d2044491acf00a35c929353f,0.0,5ca38381f919421fb4b514b37be1e0a0,-1.679203e+06,837.0,-2006.216197
1751,49ab8a0f91e040d099b5c5222758c8d9,0.0,d0e9934e9c814215892f69c996ce881c,-2.477616e+05,774.0,-320.105392
1752,15f586cdd49f452a8009d574c13a1db0,0.0,55011c4031374c1489a8eca4ef69b106,-2.017273e+05,589.0,-342.491193
1753,07d476c606f64c529b06711967957613,0.0,c23951de1186480fbbe3c10c2812bbb5,-5.444888e+05,502.0,-1084.639044

In [161]:
df_h_edu_no.to_csv('./df_h_edu_no.csv', index=False)  
df_h_edu_only.to_csv('./df_h_edu_only.csv', index=False)

In [105]:
#sub_data # данные которые надо оперделить 
#df_h_edu_only # данные у кого есть вышка
#df_h_edu_no # данные у кого not вышка !!!!!!!!!!!!!!!!!!!!

#display(sub_data.cr_tran,df_h_edu_only.cr_tran,df_h_edu_no.cr_tran)
sub_data_ar = np.array(sub_data.cr_tran)

hEdu_o = np.array(df_h_edu_only.cr_tran)
hEdu_no = np.array (df_h_edu_no.cr_tran) 
print(sub_data_ar.mean(),'\nyes',hEdu_o.mean(),'\nno',hEdu_no.mean())
print()
print(np.median(sub_data_ar),'\nyes',np.median(hEdu_o),'\nno',np.median(hEdu_no))

-1139.7714771220224
yes -1212.4724369033495
no -888.0224668364774

-871.7427456335909
yes -954.0652963406469
no -730.2537215016243

In [106]:
POKAZ = ( (hEdu_o.mean() + np.median(hEdu_o))/2 + ( hEdu_no.mean() + np.median(hEdu_no) )/2 )/2
POKAZ

-946.2034803955246

In [112]:
HU_NO_POK =  df_h_edu_no.cr_tran
HU_NO_POK < POKAZ

cou = 0

for i in HU_NO_POK:
    if i < POKAZ:
        cou +=1
        
print("len",len(HU_NO_POK))
print('cou', cou)
print(len(HU_NO_POK)-cou)

len 1754
cou 569
1185

In [113]:
HU_NO_POK =  df_h_edu_only.cr_tran
HU_NO_POK < POKAZ

cou = 0

for i in HU_NO_POK:
    if i < POKAZ:
        cou +=1
        
print("len",len(HU_NO_POK))
print('cou', cou)
print(len(HU_NO_POK)-cou)

len 4600
cou 2326
2274

In [114]:
sub_data

,bank,higher_education_proba,all_mon,col_VO_tran,cr_tran
0,85ef628894e34ad6869778a9a5d15ba5,0.5,-1.595456e+06,850.0,-1877.007528
1,5ec7a78c6efd4d6291e371a6f30ed5c0,0.5,-1.426062e+06,1099.0,-1297.599871
2,d0f5d1884ad74e3e9aae7e49f2e1b77b,0.5,-2.740744e+06,889.0,-3082.951572
3,c3c0f24dda94413ab98036f6d9018d3d,0.5,5.891258e+05,1527.0,385.806017
4,6a137054df2a42218a518479317e5b1e,0.5,-7.416239e+05,696.0,-1065.551601
...,...,...,...,...,...
3995,6b4e9d5efdc346969b5bd2cd1423e1df,0.5,-1.436209e+06,804.0,-1786.329486
3996,aa94374db32c492a9a0bd70566ff6127,0.5,-3.298526e+05,504.0,-654.469353
3997,4a73e124aa894bf8a014c7ea02ad61bf,0.5,4.828788e+03,1229.0,3.929039
3998,1739a132cead43ffa3872de4f7450ad6,0.5,-6.327463e+05,771.0,-820.682585
3999,9a12ee6ce5784824aa6f8dcbdc3143f0,0.5,-5.496000e+04,592.0,-92.837846

In [150]:
subb = sub_data.copy()

In [151]:
subb#.pop('col_VO_tran')

                                  bank  higher_education_proba
0     85ef628894e34ad6869778a9a5d15ba5                     0.0
1     5ec7a78c6efd4d6291e371a6f30ed5c0                     0.0
2     d0f5d1884ad74e3e9aae7e49f2e1b77b                     0.0
3     c3c0f24dda94413ab98036f6d9018d3d                     1.0
4     6a137054df2a42218a518479317e5b1e                     0.0
...                                ...                     ...
3995  6b4e9d5efdc346969b5bd2cd1423e1df                     0.0
3996  aa94374db32c492a9a0bd70566ff6127                     1.0
3997  4a73e124aa894bf8a014c7ea02ad61bf                     1.0
3998  1739a132cead43ffa3872de4f7450ad6                     1.0
3999  9a12ee6ce5784824aa6f8dcbdc3143f0                     1.0

[4000 rows x 2 columns]

In [145]:
for i in range( 4000 ):
    if subb.cr_tran[i] < POKAZ:
        subb.higher_education_proba[i] = float(0)
    else:
        subb.higher_education_proba[i] = float(1)

AttributeError: 'DataFrame' object has no attribute 'cr_tran'

In [156]:
#subb.pop('cr_tran')
#temp = np.array(subb.higher_education_proba)
#type(temp[0])
#subb.to_csv('./sample_submission1236.csv', index=False)   
#df_clik_h_edu_only.to_csv('df_clik_h_edu_only.csv', sep='\t', encoding='utf-8')

numpy.float64

In [158]:
subb.to_csv('./sample_submission69.csv', index=False)  
test = pd.read_csv('./sample_submission69.csv')
tempp = np.array(test.higher_education_proba)
type(tempp[0])

numpy.float64

In [176]:
df_tran_H_edu_all

,bank,higher_education,rtk,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5921,48,-32.840740,2020-08-03 09:37:40
1,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-221.986970,2020-08-03 09:59:39
2,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-21.282393,2020-08-03 10:58:54
3,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5462,48,-100.272316,2020-08-04 09:30:49
4,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-447.390620,2020-08-04 09:40:23
...,...,...,...,...,...,...,...
5716187,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5812,48,-143.118990,2021-07-31 02:53:49
5716188,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5411,48,-54.063260,2021-07-31 04:38:08
5716189,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5499,48,-483.230830,2021-07-31 05:10:24
5716190,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5499,48,-66.500520,2021-07-31 05:31:44
5716191,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5812,48,-952.416440,2021-07-31 05:47:07

In [195]:
df_H_edu_all

,bank,higher_education,rtk
0,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9
1,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb
2,ee37fecea44d475ca030cde7ff7d545d,0.0,839669a7588b42ee9e01a9f200e5f638
3,079f07153c0149d19f54646618452929,0.0,f9d8f9f57453493186964049c43da914
4,6dee55b3d7284d18bed3094ee3103812,1.0,6d6b702132d94a8692cba48f4e28e7b2
...,...,...,...
6349,8564a4f0b06d44db882a8b0c2e956344,1.0,0b76cdb34090489282c7d53489c17b98
6350,9ff4ccff76464408822d7dfc6bdef07c,1.0,a595c7d182a94b57a12e4e65a9a6f5f7
6351,352334d727214979b33ab6bd108fd8cc,1.0,541f2b8bc392429f924fdd6259875b78
6352,a00707e26c6447d689d1a85e9cb26121,1.0,81d7af0f94ab452abc6efc38aa20d994
6353,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13

In [180]:
df_tran_H_edu_all_copy = df_tran_H_edu_all.copy()
df_tran_H_edu_all

,index,bank,higher_education,rtk,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,0,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5921,48,-32.840740,2020-08-03 09:37:40
1,1,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-221.986970,2020-08-03 09:59:39
2,2,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-21.282393,2020-08-03 10:58:54
3,3,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5462,48,-100.272316,2020-08-04 09:30:49
4,4,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-447.390620,2020-08-04 09:40:23
...,...,...,...,...,...,...,...,...
5545171,5716187,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5812,48,-143.118990,2021-07-31 02:53:49
5545172,5716188,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5411,48,-54.063260,2021-07-31 04:38:08
5545173,5716189,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5499,48,-483.230830,2021-07-31 05:10:24
5545174,5716190,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5499,48,-66.500520,2021-07-31 05:31:44
5545175,5716191,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,5812,48,-952.416440,2021-07-31 05:47:07

In [181]:
#df_tran_H_edu_all = df_tran_H_edu_all.loc[df_tran_H_edu_all['mcc_code'] != -1]

df_tran_H_edu_all = df_tran_H_edu_all.reset_index()
jss = np.array(df_tran_H_edu_all.index)
#jss = jss[1:]
jss = max(jss)
print(jss)

5545175

In [185]:
df_tran_H_edu_all.head()

,level_0,index,bank,higher_education,rtk,mcc_code,currency_rk,transaction_amt,transaction_dttm
0,0,0,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5921,48,-32.840740,2020-08-03 09:37:40
1,1,1,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-221.986970,2020-08-03 09:59:39
2,2,2,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-21.282393,2020-08-03 10:58:54
3,3,3,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5462,48,-100.272316,2020-08-04 09:30:49
4,4,4,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,5411,48,-447.390620,2020-08-04 09:40:23

In [187]:
mon_div_all = np.zeros(len(pd.unique(df_tran_H_edu_all['bank'])) )
mon_plu_all = np.zeros(len(pd.unique(df_tran_H_edu_all['bank'])) )

mon_div_all_USD = np.zeros(len(pd.unique(df_tran_H_edu_all['bank'])) )
mon_plu_all_USD = np.zeros(len(pd.unique(df_tran_H_edu_all['bank'])) )

mon_div_all_EUR = np.zeros(len(pd.unique(df_tran_H_edu_all['bank'])) )
mon_plu_all_EUR = np.zeros(len(pd.unique(df_tran_H_edu_all['bank'])) )

mon_div_all_xz = np.zeros(len(pd.unique(df_tran_H_edu_all['bank'])) )
mon_plu_all_xz = np.zeros(len(pd.unique(df_tran_H_edu_all['bank'])) )

col_VO_all = np.zeros(len(pd.unique(df_tran_H_edu_all['bank'])) )
i = 0
j = 0

mon_div_all[i] += float(df_tran_H_edu_all.transaction_amt[j])

for j in  range (jss-1):
    #print(j)
    if j/(jss//100) == int(j/(jss//100)):
        print(j/(jss//100),'%')
        
    h1 = str(df_tran_H_edu_all.bank[j] )
    h2 = str(df_tran_H_edu_all.bank[j+1])
    
    if h1 == h2:
        
        m2 = float(df_tran_H_edu_all.transaction_amt[j+1])
        col_VO_all [i] += 1
        
        if float(df_tran_H_edu_all.currency_rk[j+1]) == float(48): #
            
            if m2 > 0:
                mon_plu_all[i] +=m2
            else:
                mon_div_all[i] += m2
                
        elif float(df_tran_H_edu_all.currency_rk[j+1]) == float(50):
            
            if m2 > 0:
                mon_plu_all_USD[i] +=m2
            else:
                mon_div_all_EUR[i] += m2
                
        elif float(df_tran_H_edu_all.currency_rk[j+1]) == float(60):
            
            if m2 > 0:
                mon_plu_all_EUR[i] +=m2
            else:
                mon_div_all_EUR[i] += m2
                
        else:
            
            if m2 > 0:
                mon_plu_all_xz[i] +=m2
            else:
                mon_div_all_xz[i] += m2
            
    else:
        m2 = float(df_tran_H_edu_all.transaction_amt[j+1])
        
        if float(df_tran_H_edu_all.currency_rk[j+1]) == float(48): #
            
            if m2 > 0:
                mon_plu_all[i] +=m2
            else:
                mon_div_all[i] += m2
                
        elif float(df_tran_H_edu_all.currency_rk[j+1]) == float(50):
            
            if m2 > 0:
                mon_plu_all_USD[i] +=m2
            else:
                mon_div_all_EUR[i] += m2
                
        elif float(df_tran_H_edu_all.currency_rk[j+1]) == float(60):
            
            if m2 > 0:
                mon_plu_all_EUR[i] +=m2
            else:
                mon_div_all_EUR[i] += m2
                
        else:
            
            if m2 > 0:
                mon_plu_all_xz[i] +=m2
            else:
                mon_div_all_xz[i] += m2
        i += 1


print(mon_div_all)
print(mon_plu_all)

print(mon_div_all_USD)
print(mon_plu_all_USD)
print(mon_div_all_EUR)
print(mon_plu_all_EUR)
print(mon_div_all_xz)
print(mon_plu_all_xz)
print()
print('col-VO\n',col_VO_all)
#cr_tran_h_edu_no = mon_h_edu_no[:]/col_VO_h_edu_no[:]
#print('cr_tran')
#print(cr_tran_h_edu_no)

0.0 %
1.0 %
2.0 %
3.0 %
4.0 %
5.0 %
6.0 %
7.0 %
8.0 %
9.0 %
10.0 %
11.0 %
12.0 %
13.0 %
14.0 %
15.0 %
16.0 %
17.0 %
18.0 %
19.0 %
20.0 %
21.0 %
22.0 %
23.0 %
24.0 %
25.0 %
26.0 %
27.0 %
28.0 %
29.0 %
30.0 %
31.0 %
32.0 %
33.0 %
34.0 %
35.0 %
36.0 %
37.0 %
38.0 %
39.0 %
40.0 %
41.0 %
42.0 %
43.0 %
44.0 %
45.0 %
46.0 %
47.0 %
48.0 %
49.0 %
50.0 %
51.0 %
52.0 %
53.0 %
54.0 %
55.0 %
56.0 %
57.0 %
58.0 %
59.0 %
60.0 %
61.0 %
62.0 %
63.0 %
64.0 %
65.0 %
66.0 %
67.0 %
68.0 %
69.0 %
70.0 %
71.0 %
72.0 %
73.0 %
74.0 %
75.0 %
76.0 %
77.0 %
78.0 %
79.0 %
80.0 %
81.0 %
82.0 %
83.0 %
84.0 %
85.0 %
86.0 %
87.0 %
88.0 %
89.0 %
90.0 %
91.0 %
92.0 %
93.0 %
94.0 %
95.0 %
96.0 %
97.0 %
98.0 %
99.0 %
100.0 %
[ -295101.754666   -586649.222185   -594414.5550379 ...  -641035.0274984
  -877220.019096  -2450010.9879998]
[     0.         91857.4042502 158047.70114   ...   3251.4591
 413856.948446    3434.9402   ]
[0. 0. 0. ... 0. 0. 0.]
[0. 0. 0. ... 0. 0. 0.]
[0. 0. 0. ... 0. 0. 0.]
[0. 0. 0. ... 0. 0. 0.]
[0. 0. 0. ... 0. 0. 0.]
[0. 0. 0. ... 0. 0. 0.]

col-VO
 [ 721.  963. 1016. ... 1340.  515. 1008.]

In [194]:
# все круто
#mon_plu_all
#print(np.sum(mon_div_all_USD))#mon_div_all_USD
#print(np.sum(mon_plu_all_USD))#mon_plu_all_USD
#print(np.sum(mon_div_all_EUR))#mon_div_all_EUR
#print(np.sum(mon_plu_all_EUR))
#print(np.sum(mon_div_all_xz))
#np.sum(mon_plu_all_xz)

0.0
81343.626137868
-1214226.4358289624
7176.999241103

In [200]:
#df_H_edu_all['mon_div_all'] = mon_div_all
df_H_edu_all['mon_plu_all'] = mon_plu_all
df_H_edu_all['mon_div_all_USD'] = mon_div_all_USD
df_H_edu_all['mon_plu_all_USD'] = mon_plu_all_USD
df_H_edu_all['mon_div_all_EUR'] = mon_div_all_EUR
df_H_edu_all['mon_plu_all_EUR'] = mon_plu_all_EUR
df_H_edu_all['mon_div_all_xz'] = mon_div_all_xz
df_H_edu_all['mon_plu_all_xz']= mon_plu_all_xz

In [201]:
df_H_edu_all

,bank,higher_education,rtk,mon_div_all,mon_plu_all,mon_div_all_USD,mon_plu_all_USD,mon_div_all_EUR,mon_plu_all_EUR,mon_div_all_xz,mon_plu_all_xz
0,604a550439d644718ea6e1693fbf03dc,0.0,fece9b32c7d84acb836c3b1271cfdcc9,-2.951018e+05,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
1,542d4776ebe5454fb8ab36f1c276fe0e,1.0,38ac442698524d178f6ca361e0c603bb,-5.866492e+05,91857.404250,0.0,0.0,0.000000,0.0,0.0,0.0
2,ee37fecea44d475ca030cde7ff7d545d,0.0,839669a7588b42ee9e01a9f200e5f638,-5.944146e+05,158047.701140,0.0,0.0,0.000000,0.0,0.0,0.0
3,079f07153c0149d19f54646618452929,0.0,f9d8f9f57453493186964049c43da914,-8.022021e+05,11557.782794,0.0,0.0,0.000000,0.0,0.0,0.0
4,6dee55b3d7284d18bed3094ee3103812,1.0,6d6b702132d94a8692cba48f4e28e7b2,-1.229149e+06,440626.633290,0.0,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6349,8564a4f0b06d44db882a8b0c2e956344,1.0,0b76cdb34090489282c7d53489c17b98,-4.034468e+05,226911.808428,0.0,0.0,0.000000,0.0,0.0,0.0
6350,9ff4ccff76464408822d7dfc6bdef07c,1.0,a595c7d182a94b57a12e4e65a9a6f5f7,-1.135055e+06,8.058866,0.0,0.0,-21.896313,0.0,0.0,0.0
6351,352334d727214979b33ab6bd108fd8cc,1.0,541f2b8bc392429f924fdd6259875b78,-6.410350e+05,3251.459100,0.0,0.0,0.000000,0.0,0.0,0.0
6352,a00707e26c6447d689d1a85e9cb26121,1.0,81d7af0f94ab452abc6efc38aa20d994,-8.772200e+05,413856.948446,0.0,0.0,0.000000,0.0,0.0,0.0
6353,67d608d085d6489197cfc4b6e61a7842,1.0,a6a74071c02d49719a7411c3dd5ccc13,-2.450011e+06,3434.940200,0.0,0.0,0.000000,0.0,0.0,0.0

In [204]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [208]:
X = df_H_edu_all[[ 'mon_div_all', 'mon_plu_all', 'mon_div_all_USD', 'mon_plu_all_USD','mon_div_all_EUR','mon_plu_all_EUR' ]]
y = df_H_edu_all['higher_education']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=85)


#y_train = np.array(df_H_edu_all.higher_education)
#X_train = np.array()

In [209]:
clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [210]:
y_pred

array([1., 1., 1., ..., 1., 1., 1.])

In [211]:
from sklearn import metrics
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6670162558993183